.addMusic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    margin: 0 auto 0 auto;
    padding: 20px 20px 20px;

    width: 300px;

    background: white;

    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);

    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.addMusic label {
    margin-bottom: 16px;
}

.input {
    width: 300px;
    height: 60px;

    background-color: #388bfd66;
}

.submit {
    float: right;
}