body {
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 100%;
    font: inherit;

    vertical-align: baseline;
}

.container-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    min-height: 100vh;

    color: #e0e0e0;
    background-color: #292828;

    font-family: sans-serif;
}

.main {
    text-align: center;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.music_table {
    width: 100%;

    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.music_table td {
    border: 1px solid #dddddd;

    padding: 3px;
}

.music_table input {
    cursor: pointer;

    color: #e0e0e0;
    background-color: #292828;
}

.music_table input:hover,
.music_table input:focus {
    background-color: rgb(76, 0, 255);
}

.music_head {
    color: #e0e0e0;
    background-color: #292828;
}

.now_play {
    text-align: center;

    margin-bottom: 25px;
}

#player_container {
    width: 90%;

    float: right;
}

.arrow {
    float: left;

    margin-top: 10px;
    padding: 7px;

    cursor: pointer;

    background-color: #292828;
}

.arrow:hover,
.arrow:active {
    background: rgb(76, 0, 255)
}

.mc_bt {
    cursor: pointer;

    font-size: 14px;

    color: #e0e0e0;
    background-color: #292828;
}

.mc_bt:hover {
    background-color: rgb(76, 0, 255);
}

.mc_bt,
.mc_bt:active,
.mc_bt:focus  {
  border:none;
}

/* header styles start */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 5px 5px 0px 5px;
}

.wrap-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header a,
button {
    background-color: #292828;
    color: #e0e0e0;

    padding: 10px;

    text-decoration: none;
    font-size: 14px;
}

header a:focus {
    background-color: rgb(76, 0, 255);
}

header a.logo {
    font-size: 18px;
    font-weight: bold;

    margin-right: 3px;
}

#header_home {
    margin-right: 5px;
}

header a:hover {
    background-color: rgb(76, 0, 255);
    color: white;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.themeButton {
    cursor: pointer;

    padding: 10px;

    font-size: 14px;

    color: #e0e0e0;
    background-color: #292828;
}

.themeButton:hover {
    background-color: rgb(76, 0, 255);
}

.themeButton,
.themeButton:active,
.themeButton:focus  {
  border:none;
}


/* header styles end */

/* footer styles start */

footer {
    padding: 20px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* footer styles end */

/* Dopdown button styles start */

.drop_btn_name,
.drop_btn_lang {
    background-color: #292828;

    font-size: 16px;

    border: none;

    cursor: pointer;
}

.drop_btn_name:hover,
.drop_btn_name:focus,
.drop_btn_lang:hover,
.drop_btn_lang:focus {
    color: white;
    background-color: rgb(76, 0, 255);
}

.langButton {
    cursor: pointer;

    padding: 10px;

    width: 100%;

    font-size: 14px;

    color: #e0e0e0;
    background-color: #292828;
}

.langButton:hover {
    background-color: rgb(76, 0, 255);
}

.langButton,
.langButton:active,
.langButton:focus  {
  border:none;
}

.dropdown {
    display: inline-block;

    position: relative;
}

.dropdown_content {
    display: none;

    position: absolute;

    min-width: 100%;

    z-index: 9999;
}

.dropdown_content a {
    display: block;

    color: #e0e0e0;
    background-color: #292828;

    padding: 12px 16px;

    text-decoration: none;

}

.dropdown a:hover {
    color: black;
    background-color: #ddd;
}

.show {
    display: block;
}

/* Dopdown button styles end */

/* addMusic styles start */

#drop_area {
    border: 2px dashed #ccc;
    border-radius: 20px;

    width: 65%;

    margin: 100px auto;
    padding: 20px;
}

#drop_area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;

    margin-bottom: 10px;
    margin-right: 10px;

    vertical-align: middle;
}

.button {
    display: inline-block;

    padding: 10px;
    margin-bottom: 10px;

    color: black;
    background: #ccc;

    cursor: pointer;

    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: white;
}

#fileElem {
    display: none;
}

.upload {
    padding: 10px;

    background: #ccc;

    cursor: pointer;

    border-radius: 5px;
    border: 1px solid #ccc;
}

.upload:hover {
    background: white;
}

/* addMusic styles end */

/* loginReister styles start */

.container {
    margin: 80px auto;

    width: 640px;
}

.login {
    position: relative;

    margin: 150px auto 0 auto;
    padding: 20px 20px 20px;

    width: 310px;

    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.login h1 {
    margin: -20px -20px 21px;

    line-height: 40px;
    font-size: 15px;
    font-weight: bold;

    text-align: center;

    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px;
}

.login p {
    margin: 20px 0 0;
}

.login p:first-child {
    margin-top: 0;
}

.login input[type=text],
.login input[type=password] {
    width: 278px;
}

.login p.remember_me {
    float: left;

    line-height: 31px;
}

.login p.remember_me label {
    font-size: 12px;
    color: #777;

    cursor: pointer;
}

.login p.remember_me input {
    position: relative;

    bottom: 1px;
    margin-right: 4px;

    vertical-align: middle;
}

.login p.submit {
    text-align: right;
}

.login_help {
    margin: 20px 0;

    font-size: 11px;
    color: #e0e0e0;

    text-align: center;
}

.login_help_link {
    text-decoration: none;
}

.login_help_link:visited {
    color: #e0e0e0;
}

.login_help_link:hover {
    opacity: 50%;
}

.login_link_div {
    margin: 10px;
}

.login_link {
    font-size: 20px;
    color: #e0e0e0;

    text-decoration: none;
}

.login_link:hover {
    opacity: 50%;
}

:-moz-placeholder {
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #ccc;
    font-size: 13px;
}

input {
    font-size: 14px;
}

input[type=text],
input[type=password] {
    margin: 5px;
    padding: 0 10px;

    width: 200px;
    height: 34px;

    color: #e0e0e0;
    background-color: #292828;

    border: 1px solid;
    border-color: #c4c4c4;
    border-radius: 2px;
}

.lt-ie9 input[type=text],
.lt-ie9 input[type=password] {
    line-height: 34px;
}

/* loginRegister styles end */